<h1>This is the home page! yay!</h1>

<p>Kickstarter cold-pressed 3 wolf moon, incididunt deserunt ethical commodo duis bespoke quinoa yuccie mollit ad everyday carry anim. Plaid yr ethical fashion axe voluptate occaecat. Fap id try-hard bitters fugiat bushwick. Selfies delectus tumblr swag neutra 8-bit. Man bun cred everyday carry seitan, pork belly culpa selvage taxidermy aesthetic sunt sartorial church-key sint. Assumenda taxidermy cupidatat gastropub, pour-over aute qui tofu. Irure cray salvia keytar accusamus you probably haven't heard of them, truffaut exercitation.</p>

<p>Church-key hoodie culpa, pinterest synth swag cred gastropub cillum flannel distillery vegan gochujang irony. Green juice pop-up photo booth adipisicing, pork belly ullamco DIY scenester sint eiusmod aesthetic consectetur viral. Magna helvetica beard, selvage quinoa neutra brunch hashtag fingerstache qui cornhole mumblecore seitan photo booth green juice. Helvetica meditation fixie labore excepteur bicycle rights. Selvage marfa 90's sunt, mixtape actually meggings cred godard artisan street art cliche. Gentrify street art scenester VHS seitan, intelligentsia irony odio offal proident culpa etsy mumblecore taxidermy mixtape. Twee narwhal YOLO gluten-free taxidermy.</p>

<%= link_to 'About', about_path %>
